@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* primary colours */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  /* neutral colours */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

/* layouts */
.container {
  width: 90%;
  font-family: "inter";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  justify-self: center;
  font-size: 0.9rem;
}

/* end of layouts */

/* header */
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header nav ul {
  justify-content: space-between;
  gap: 4rem;
  list-style: none;
  display: none;
}
nav ul a,
.advert .advert-article a {
  color: var(--Dark-grayish-blue);
  text-decoration: none;
}
nav ul a:hover,
.advert .advert-article a:hover {
  color: var(--Soft-red);
}

/* end of header */

/* main */
.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}
.main .desktop-img {
  display: none;
}
.main .mobile-img img {
  width: 100%;
}
.main .web-3-article h1 {
  font-size: 3.6rem;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--Very-dark-blue);
}
.main p {
  margin-bottom: 2rem;
  color: var(--Dark-grayish-blue);
  line-height: 2rem;
}
.main .btn {
  background-color: var(--Soft-red);
  width: 70%;
  text-align: center;
  padding: 1.5rem 2rem;
}
.main .btn a {
  text-decoration: none;
  color: var(--Very-dark-blue);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 3px;
}

/* news section */

.main .news {
  background-color: var(--Very-dark-blue);
  padding: 2rem 1.3rem;
  margin-top: 4rem;
}
.main .news h1 {
  color: var(--Soft-orange);
  font-size: 3.4rem;
  margin-bottom: 2rem;
}
.main .news h2 {
  color: var(--Off-white);
  margin: 1rem 0;
  font-size: 1.2rem;
}
.main .news p {
  color: var(--Off-white);
  opacity: 70%;
}
.main .news .line {
  height: 0.05rem;
  background-color: var(--Off-white);
  opacity: 50%;
  margin: 3rem 0;
}

/* end of news section */

/* advert section */
.main .advert-section {
  margin: 4rem 0;
}
.main .advert-section .advert {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-bottom: 1.8rem;
}
.advert .advert-img img {
  width: 105%;
  height: 160px;
}
.advert .advert-article h1 {
  color: var(--Soft-red);
  font-size: 3rem;
}
.advert .advert-article a {
  color: var(--Very-dark-blue);
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 700;
}

/* end of advert section */

/* MEDIA SCREEN */
@media (min-width: 1024px) {
  /* container */
  .container {
    width: 80%;
    grid-template-rows: 125px 1fr;
  }
  /* header */
  .header nav .menu-bar {
    display: none;
  }
  .header nav {
    align-items: center;
  }
  .header nav ul {
    display: flex;
    font-weight: 500;
  }
  /* end of header */

  /* main */
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "web-3 web-3 news"
      "advert-section advert-section advert-section";
  }
  .main .mobile-image {
    display: none;
  }
  .main .desktop-img {
    display: block;
  }
  .web-3 {
    grid-area: web-3;
  }
  .web-3-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 4rem;
  }
  .main .web-3-article h1 {
    font-size: 3.5rem;
  }
  .main .news {
    grid-area: news;
    margin-top: 0;
    padding-bottom: 0;
  }
  .main .news .line {
    margin: 2rem 0;
  }
  .main .news h1 {
    font-size: 3.2rem;
  }
  .main .news h2 {
    font-size: 1.2rem;
  }
  .advert-section {
    grid-area: advert-section;
    display: flex;
    justify-content: space-between;
  }
  .advert .advert-img img {
    width: 100%;
    height: 140px;
  }
}
